# Nestjs specific
/dist
/backend/node_modules
/build
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.*
!.env.example

# temp directory
.temp
.tmp

# Archivos JSON específicos a ignorar (no todos)
serviceAccountKey.json
erp-module-challenge-firebase-adminsdk-fbsvc-3dce2ee235.*
firebase-admin-keys.json

# Permite JSON críticos
!package.json
!package-lock.json
!tsconfig.json
!nest-cli.json
!vercel.json